img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

img:hover {
  filter: grayscale(0%);
}

.full-screen-height {
  min-height: 100vh;
}

.border-outline {
  border: 2px solid black;
}

svg {
  width: 40px;
}

.project-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 225px;
}

body {
  background: #030d13;
}

p {
  color: #f0f5f8;
}